@using BusManagementSystem.Service
@using Microsoft.AspNetCore.Mvc.TagHelpers
@inject ILoopServiceInterface _loopServiceInterface
@inject IStopServiceInterface _stopServiceInterface
@model IEnumerable<BusManagementSystem.Models.Route>

@{
    <link rel="stylesheet" href="~/css/route_index.css"/>
    var loopIdString = ViewContext.RouteData.Values["loopId"] as string;
    var loopId = Convert.ToInt32(loopIdString);
    var loop = await _loopServiceInterface.GetLoop(loopId);
    ViewData["Title"] = loop.Name;
}

<div>
    <div id="route-index-header">
        <h1>@loop.Name Loop</h1>
        <a class="btn btn-primary" href="@Url.Action("Create", "Route", new { loopId = loop.Id })">Create New Route</a>
    </div>
    <a href="/Route/SelectLoop">Back to List</a>
    <hr id="separator">
    <form id="deleteForm" asp-action="Delete" method="post">
        <table id="bus-table" class="table table-striped">
            <thead>
            <tr>
                <th>Loop</th>
                <th>Stop</th>
                <th>Order</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var route in Model)
            {
                var stop = await _stopServiceInterface.GetStop(route.StopId);

                <tr>
                    <td>@loop.Name</td>
                    <td>@stop.Name</td>
                    <td>@route.Order</td>
                    <td>
                        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@route.Id">Edit</a> |
                        <asp:Button UseSubmitBehavior="false" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteRouteModal_@route.Id" runat="server">Delete</asp:Button>
                    </td>
                </tr>

                <div class="modal fade" id="deleteRouteModal_@route.Id" tabindex="-1" aria-labelledby="deleteRouteModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title fs-5" id="deleteStopModalLabel">Delete Stop</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                </button>
                            </div>
                            <div class="modal-body">
                                Remove @route.Stop.Name from @route.Loop.Name Loop from the database?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                <button type="submit" class="btn btn-danger" asp-action="Delete" asp-route-routeId="@route.Id">Confirm</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
            </tbody>
        </table>
    </form>
</div>

<!-- Create Bus Modal -->
@* @await Html.PartialAsync("_CreateBusModal", new BusManagementSystem.Models.Bus()) *@

@* <!-- Delete Bus Modal --> *@
@* @await Html.PartialAsync("_DeleteBusModal") *@
@* *@
@* <!-- Edit Bus Modal --> *@
@* @await Html.PartialAsync("_EditBusModal", new BusManagementSystem.Models.Bus()) *@


@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script src="./js/bus_actions.js"></script>
}