@model IEnumerable<BusManagementSystem.Models.Entry>

@{
    ViewData["Title"] = "Entries";
    <link rel="stylesheet" href="~/css/entry_index.css" />
}

<div>
    <div id="entry-index-header">
        <h1>Entries</h1>
        <button type="button" class="btn btn-primary" id="exportButton">Export Current Entries</button>
    </div>
    <hr id="separator">
    <div id="filters">
        <div class="filter">
            <button type="button" class="btn btn-secondary" id="toggleFilterPanelButton">Show Filters</button>
        </div>
        <div class="filter">
            <label for="sortBy">Sort by:</label>
            <select id="sortBy">
                <option value="">Select Sort Option...</option>
                <option value="bus">Bus</option>
                <option value="driver">Driver</option>
                <option value="loop">Loop</option>
                <option value="stop">Stop</option>
                <option value="timestamp">Timestamp</option>
            </select>
        </div>
        <div class="filter">
            <label for="sortBy">Order:</label>
            <select id="sortOrder">
                <option value="">Select Sort Order...</option>
                <option value="ascending">Ascending</option>
                <option value="descending">Descending</option>
            </select>
        </div>
        <button type="button" class="btn btn-danger" id="batchDeleteButton" onclick="showDeleteEntryModal()">Delete Selected</button>
        <div id="filterPanelContainer" style="display: none;">
            <div class="filter-section">
                <h5>Bus:</h5>
                @foreach (var bus in Model.Select(e => e.Bus.BusNumber).Distinct())
                {
                    <div class="filter-option">
                        <input type="checkbox" name="busFilter" value="@bus" />
                        <label>#@bus</label>
                    </div>
                }
            </div>
            <div class="filter-section">
                <h5>Driver:</h5>
                @foreach (var driver in Model.Select(e => new { e.Driver.FirstName, e.Driver.LastName }).Distinct())
                {
                    <div class="filter-option">
                        <input type="checkbox" name="driverFilter" value="@driver.FirstName @driver.LastName" />
                        <label>@driver.FirstName @driver.LastName</label>
                    </div>
                }
            </div>
            <div class="filter-section">
                <h5>Loop:</h5>
                @foreach (var loop in Model.Select(e => e.Loop.Name).Distinct())
                {
                    <div class="filter-option">
                        <input type="checkbox" name="loopFilter" value="@loop" />
                        <label>@loop</label>
                    </div>
                }
            </div>
            <div class="filter-section">
                <h5>Stop:</h5>
                @foreach (var stop in Model.Select(e => e.Stop.Name).Distinct())
                {
                    <div class="filter-option">
                        <input type="checkbox" name="stopFilter" value="@stop" />
                        <label>@stop</label>
                    </div>
                }
            </div>
            <div class="filter-section">
                <h5>Timestamp:</h5>
                <input type="date" id="dateFilter" onchange="applyFilterAndSort()">
            </div>
        </div>
    </div>
    <table id="entry-table" class="table table-striped">
        <thead>
            <tr>
                <th>
                    <input type="checkbox" id="selectAllCheckbox">
                </th>
                <th>Bus</th>
                <th>Driver</th>
                <th>Loop</th>
                <th>Stop</th>
                <th>Boarded</th>
                <th>Left Behind</th>
                <th>Timestamp</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var entry in Model)
            {
                <tr data-bus="@entry.Bus.BusNumber" data-driver="@entry.Driver.FirstName @entry.Driver.LastName" data-loop="@entry.Loop.Name" data-stop="@entry.Stop.Name" data-timestamp="@entry.Timestamp">
                    <td>
                        <input type="checkbox" name="entryCheckbox" data-entry-id="@entry.Id">
                    </td>
                    <td data-attribute="bus">@entry.Bus.BusNumber</td>
                    <td data-attribute="driver">@entry.Driver.FirstName @entry.Driver.LastName</td>
                    <td data-attribute="loop">@entry.Loop.Name</td>
                    <td data-attribute="stop">@entry.Stop.Name</td>
                    <td data-attribute="boarded">@entry.Boarded</td>
                    <td data-attribute="leftbehind">@entry.LeftBehind</td>
                    <td data-attribute="timestamp">@entry.Timestamp</td>
                </tr>
            }
        </tbody>
    </table>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/entry_actions.js"></script>

    <script>
        function tableToCSV() {
            const visibleRows = Array.from(document.querySelectorAll("#entry-table tbody tr:not([style='display: none;'])"));
            const headers = Array.from(document.querySelectorAll("#entry-table th")).map(th => th.textContent);
            const data = visibleRows.map(row => Array.from(row.children).map(cell => cell.textContent));
        
            const csvContent = [headers.join(",")];
            data.forEach(row => {
                csvContent.push(row.join(","));
            });
        
            return csvContent.join("\n");
        }


        function downloadCSV(content, filename) {
            const blob = new Blob([content], { type: "text/csv" });
            const url = window.URL.createObjectURL(blob);
            const a = document.createElement("a");
            a.href = url;
            a.download = filename;
            document.body.appendChild(a);
            a.click();
            document.body.removeChild(a);
            window.URL.revokeObjectURL(url);
        }

        function toggleFilterPanel() {
            const filterPanelContainer = document.getElementById("filterPanelContainer");
            const toggleFilterPanelButton = document.getElementById("toggleFilterPanelButton");

            if (filterPanelContainer.style.display === "none") {
                filterPanelContainer.style.display = "block";
                toggleFilterPanelButton.textContent = "Hide Filters";
            } else {
                filterPanelContainer.style.display = "none";
                toggleFilterPanelButton.textContent = "Show Filters";
            }
        }
        
        function applyFilterAndSort() {
            const selectedBusFilters = Array.from(document.querySelectorAll('input[name="busFilter"]:checked')).map(checkbox => checkbox.value);
            const selectedDriverFilters = Array.from(document.querySelectorAll('input[name="driverFilter"]:checked')).map(checkbox => checkbox.value);
            const selectedLoopFilters = Array.from(document.querySelectorAll('input[name="loopFilter"]:checked')).map(checkbox => checkbox.value);
            const selectedStopFilters = Array.from(document.querySelectorAll('input[name="stopFilter"]:checked')).map(checkbox => checkbox.value);
            const selectedDate = document.getElementById("dateFilter").value;
            const sortBy = document.getElementById("sortBy").value;
            const sortOrder = document.getElementById("sortOrder").value;

            const rows = Array.from(document.querySelectorAll("#entry-table tbody tr"));
            rows.forEach(row => {
                const bus = row.getAttribute("data-bus");
                const driver = row.getAttribute("data-driver");
                const loop = row.getAttribute("data-loop");
                const stop = row.getAttribute("data-stop");
               const timestamp = new Date(row.getAttribute("data-timestamp"));
               const utcTimestamp = new Date(Date.UTC(timestamp.getFullYear(), timestamp.getMonth(), timestamp.getDate(), timestamp.getHours(), timestamp.getMinutes(), timestamp.getSeconds()));
               const isoDate = utcTimestamp.toISOString().split('T')[0];             

                console.log(new Date(row.getAttribute("data-timestamp")));
                
            const isVisible = 
                (selectedBusFilters.length === 0 || selectedBusFilters.includes(bus)) && 
                (selectedDriverFilters.length === 0 || selectedDriverFilters.includes(driver)) &&
                (selectedLoopFilters.length === 0 || selectedLoopFilters.includes(loop)) &&
                (selectedStopFilters.length === 0 || selectedStopFilters.includes(stop)) &&
                (!selectedDate || isoDate === selectedDate);
                console.log("Selected: " + selectedDate);
                console.log("timestamp: " + isoDate);

            row.style.display = isVisible ? "" : "none";
         });
        }
        
        document.getElementById("toggleFilterPanelButton").addEventListener("click", toggleFilterPanel);
        document.getElementById("sortBy").addEventListener("change", applyFilterAndSort);
        document.getElementById("sortOrder").addEventListener("change", applyFilterAndSort);

        const filterCheckboxes = document.querySelectorAll('input[type="checkbox"][name$="Filter"]');
        filterCheckboxes.forEach(checkbox => {
            checkbox.addEventListener("change", applyFilterAndSort);
        });

        document.getElementById("exportButton").addEventListener("click", () => {
            const csvContent = tableToCSV();
            downloadCSV(csvContent, "entries.csv");
        });
    </script>
}
